---
---

@import "{{ site.theme }}";
table
{
    table-layout: fixed;
    width: 100%;
}
th {
  border-bottom:1px solid #e5e5e5; /* used for names */
}
td {
  border-bottom:none; /* used for photos */
}
a {
  color:#4B2E83; /* make links UW purple */
}